
@{
    ViewData["Title"] = "Contacto";
}

<h1 class="display-6">Lista de medicamentos</h1>

<table class="table">
    <thead class="table-dark">
        <tr>
            <td>Id</td>
            <td>Nombre</td>
            <td>Descripción</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Analgésico</td>
            <td>Descripción .....</td>
        </tr>
    </tbody>
</table>
