<!DOCTYPE html>
<html lang="es-pe">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <div class="bg-mifarma">
                    <img src="~/mifarma-logo.svg" />
                </div>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                </form>
            </div>
        </nav>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                        <li class="nav-item active dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Categorías
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                @for (int i = 1; i <= 8; i++)
                                {
                                    <li><a class="dropdown-item" href="#">@i</a></li>
                                }
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="Medicamento" asp-action="Medicamento">Mundo Dermocosmética</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="TipoMedicamento" asp-action="TipoMedicamento">Limpieza del hogar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="Sucursal" asp-action="Index">Cuponero del ahorro</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Monedero del ahorro</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Catálogo del Mes</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <input type="hidden" id="hdfOculto" value="@Url.Content("~")" />


    @RenderBody()

    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
